
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



#root {
  text-align: center;
  height: 100dvh;
  width: 100dvw;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem
}

.board {
  --selected: #333;
  --border-thin: 1px solid #ccc;
  --border-thick: 1px solid #444;
  display: flex;
  flex-direction: column;
  width: min(90vw, 90dvh, 500px);
  aspect-ratio: 1;
  border: var(--border-thick);
  padding: 2px;
}

.board-row {
  display: flex;
  flex: 1;

}

.board-row .cell {
  border-right: var(--border-thin);
  border-bottom: var(--border-thin);
}

.board-row:nth-child(3n) .cell {
  border-bottom: var(--border-thick);
}

.board-row:last-child .cell {
  border-bottom: none;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-width: 0;
  aspect-ratio: 1;
  font-size: 1.2em;
}

.cell.highlightArea {
  background-color: var(--selected);
}

.cell.selectedCell {
  background-color: #555;
}



.cell:nth-child(3n) {
  border-right: var(--border-thick);
}

.cell:last-child {
  border-right: none;
}
.cell.incorrect {
  color: red
}
.keyboard { 
  width: min(90vw, 90dvh, 450px);
  display: flex;
  justify-content: center;
  gap: 0.4rem
}

